
.content {
    width: 900px;
    margin: 0 auto;
}

header {
    background-color: rgb(100, 120, 100);
    text-align: center;
    margin-bottom: 2em;
    overflow: hidden;
}

header a, header a:visited {
    color: rgb(255, 255, 200);
}

header h1 {
    position: relative;
    top: -.2em;
}

.app h1 {
    border-bottom: 1px solid #f0f0f0;
    padding-bottom: 5px;
    margin-top: 1em;
}

.app h1:first-of-type{
    margin-top: 0;
}

.toolbar {
    margin-bottom: 1em;
}

.toolbar label {
    margin-right: 1em;
}

.toolbar .col-sm-6:nth-of-type(2) {
    text-align: right;
}

ul.issues {
    list-style: none;
    padding: 0;
    border: 1px solid #dadada;
    border: 1px solid #dadada;
}

ul.issues li {
    padding: .8em 1em;
    line-height: 16px;
}

ul.issues .label {
    margin: 0 1em;
}

ul.issues li:nth-of-type(2n) {
    background-color: #fafafa;
}

i.icon {
  display: inline-block;
  background-size: 16px 16px;
  width: 16px;
  height: 16px;
  margin-right: 1em;
  vertical-align: middle;
}

.icon.jira {
  background-image: url(img/jira.ico);
}

.icon.github {
  background-image: url(img/github.ico);
}
