---
layout: default
title: Mozilla Cordova Status
styles:
  - css/app.css
---

<!-- Home -->
<div class="wrapper wrapper-style1">
  <header class="container" id="top">
    <div class="row">
      <div class="4u">
		  <a href="{{ site.baseurl }}"><span class="me image image-full"><img src="/images/mozilla-cordova.png" alt="" /></span></a>
      </div>
      <div class="8u">
        <header>
          <h1>Mozilla Cordova Status</h1>
        </header>
        <p><a href="http://cordova.apache.org/">Cordova</a> is an open-source platform
          for building multi-platform
          applications using HTML, CSS
          and JavaScript.</p>
      </div>
    </div>
  </header>
</div>

<!-- Documentation and repo status -->
<div class="wrapper wrapper-style2">

    <!-- List of available pages -->
    <article id="documentation">
        <header>
            <h2>Documentation</h2>
        </header>

        <div class="container list-group status-table-name">
                {% for site_page in site.pages %}
                {% if site_page.layout == "page" %}
                <div class="row flush list-group-item"><a href="{{ site_page.url }}"> {{ site_page.title }}</a></div>
                {% endif %}
                {% endfor %}
            </ul>
        </div>
    </article>

  <article id="repo-status">
    <header>
      <h2>Repositories</h2>
    </header>

    <div class="container list-group repolist">

      <div class="row flush list-group-item">
        <div class="5u">
            <h3>Repo</h3>
        </div>
        <div class="7u">
            <h3>Pull Requests</h3>
        </div>
      </div>
      <div id="repos"></div>

    </div>
  </article>
</div>

<!-- Issues -->
<div class="wrapper wrapper-style3">
  <article id="issuesList">
    <header>
      <h2>Issues</h2>
    </header>
    <div id="issues" class="container">
    </div>
  </article>
</div>

<script src="/js/lib/jquery-2.1.0.js"></script>
<script src="/js/lib/react.js"></script>
<script src="/js/lib/moment.min.js"></script>
<script src="https://mozilla-cordova-status.herokuapp.com/issues.js"></script>
<script src="js/app.js"></script>
